Repository leon19/generator-ts-node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
  "{src,test}/**/*.{js,ts}": [
    "tslint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

fix: update and remove dependencies
  .lintstagedrc
  package.json
  src/generators/app/TsNodeStarterApp.ts
  yarn.lock
Due: tslint --fix, prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: do not run git hooks on initial commit
  src/generators/app/TsNodeStarterApp.ts
Due: tslint --fix

chore: update dev config files
  .editorconfig
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierrc
  .travis.yml
  LICENSE
  README.md
  package.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  54f2070fd8784d4d0f67af2a1e189d9252aa230c
Due: none

feat: update dependencies
  .gitignore
  .nycrc
  .prettierrc
  package.json
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Due: prettier --write

chore: update travis configuration
  .travis.yml
Due: none

Notes added by 'git notes add'
  53c018ea78265000245c403014cdad05a8833d07
Due: none

chore: update tsconfig
  tsconfig.json
  tsconfig.test.json
Due: prettier --write

feat: use npm instead of yarn
  .travis.yml
  package-lock.json
  package.json
  src/generators/app/TsNodeStarterApp.ts
  yarn.lock
Due: tslint --fix, prettier --write

chore: fix actions
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore: use github actions instead of travis
  .github/workflows/release.yml
  .github/workflows/test.yml
  .travis.yml
  package.json
Due: prettier --write

Notes added by 'git notes add'
  adc455ad4f3e3304d6bf50f19f5561d72c71a412
Due: none

fix: copy husky hooks files from the template
  .eslintrc
  .husky/post-commit
  .husky/pre-commit
  package-lock.json
  package.json
  src/generators/app/TsNodeStarterApp.ts
  tests/generator.test.ts
Due: tslint --fix, prettier --write

Notes added by 'git notes add'
  17ae751a8e462d8cb8681fa50470a1452e68a8d4
Due: none

chore(ci): update github actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: update dependencies
  .c8rc
  .eslintrc
  .github/workflows/test.yml
  .gitignore
  .lintstagedrc
  .nvmrc
  .nycrc
  .prettierignore
  .prettierrc
  .vscode/settings.json
  LICENSE
  package-lock.json
  package.json
  src/generators/app/TsNodeStarterApp.ts
  tests/entry.js
  tests/generator.test.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: tslint --fix, prettier --write

chore: setup semantic release to main
  package.json
Due: prettier --write

Notes added by 'git notes add'
  92784b7bc8d0bddaf0e6948d579824a4696e7eb7
Due: none

fix: use main branch
  src/generators/app/TsNodeStarterApp.ts
  tests/generator.test.ts
Due: tslint --fix

chore: new configuration files
  .c8rc.json
  .commitlintrc.json
  .eslintrc.json
  .husky/commit-msg
  .lintstagedrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  68b5150eaf53cbabc33849a30858de33ff012c8b
Due: none

chore: remove unused npm scripts
  package.json
Due: prettier --write

feat: add semantic versioning and github actions for testing & releasing
  src/generators/app/TsNodeStarterApp.ts
  tests/generator.test.ts
Due: tslint --fix

Notes added by 'git notes add'
  de6b5c4adffecd4e6755f114491f75b9ea85db16
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update dev dependencies
  .eslintrc.json
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/generators/app/Prompter.ts
  src/generators/app/TsNodeStarterApp.ts
  src/generators/app/cli/Cli.ts
  tsconfig.json
Due: tslint --fix, prettier --write

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: remove tests files from template
  package-lock.json
  package.json
  src/generators/app/TsNodeStarterApp.ts
  tests/generator.test.ts
Due: tslint --fix, prettier --write

Notes added by 'git notes add'
  2214711cb6f7fac455f91421d7bc6e01210251bf
Due: none

feat(deps): bump `yeomnan-generator` to `5.7.0`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  282208be15985fe8254be018f733694014c4b1b6
Due: none

chore: update release node image to node@18
  .github/workflows/release.yml
Due: none
