Repository leon19/generator-ts-node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write, https://json.schemastore.org/lintstagedrc.schema.json, biome check --write --unsafe

.lintstagedrc:

{
  "{src,test}/**/*.{js,ts}": [
    "tslint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "{src,tests}/**/*.{ts,json}": ["biome check --write --unsafe"],
  "*.md": ["prettier --write"]
}

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(ci): update workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore(ci): fix ci
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: bump yeoman@8.1.2
  package-lock.json
  package.json
  src/generators/app/ts-node-starter-app.ts
Due: tslint --fix, prettier --write, biome check --write --unsafe

Notes added by 'git notes add'
  625315cbaac7444242f35c1a23593b4b9a22e4b7
Due: none
