Repository leon19/generator-ts-node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
  "{src,test}/**/*.{js,ts}": [
    "tslint --fix",
    "git add"
  ],
  "*.{md,json}": [
    "prettier --write",
    "git add"
  ]
}

chore(ci): remove node@17 from test matrix
  .github/workflows/test.yml
Due: none

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(ci): update github actions version
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: prefix node modules import
  src/generators/app/TsNodeStarterApp.ts
  tests/generator.test.ts
Due: tslint --fix

feat(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1fe861374fd80a8e34a8346e002f46e3f51860eb
Due: none

chore(deps): update dev dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore(tsc): disable `verbatimModuleSintax` option
  tsconfig.json
Due: prettier --write

feat(deps): bump `yeoman-generator@5.9.0`
  package-lock.json
  package.json
  tests/generator.test.ts
Due: prettier --write

Notes added by 'git notes add'
  8a519e4f2266659ebff18173489c9487a2765541
Due: none

fix(deps): update dependencies
  .c8rc.json
  .eslintrc.json
  .github/workflows/test.yml
  .huskyrc
  .mocha.entry.js
  .mocharc.json
  .nvmrc
  .vscode/settings.json
  LICENSE
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  b3457000e3562e86c0f7906c893c2d7842b60604
Due: none

feat: update dependencies
  .eslintrc.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .lintstagedrc.json
  .mocha.entry.js
  .mocharc.json
  .prettierrc.json
  .vscode/settings.json
  README.md
  biome.json
  package-lock.json
  package.json
  src/generators/app/Prompter.ts
  src/generators/app/TsNodeStarterApp.ts
  src/generators/app/cli.ts
  src/generators/app/cli/Cli.ts
  src/generators/app/cli/CliArguments.ts
  src/generators/app/cli/CliOptions.ts
  src/generators/app/cli/index.ts
  src/generators/app/index.ts
  src/generators/app/options.ts
  src/generators/app/options/Author.ts
  src/generators/app/options/Options.ts
  src/generators/app/options/Project.ts
  src/generators/app/options/index.ts
  tests/generator.test.ts
  tsconfig.json
Due: tslint --fix, prettier --write

Notes added by 'git notes add'
  0f0cf0dd8b40f7d1d07c3147afe2889903952c4d
Due: none

chore: update configuration files
  .c8rc.json
  biome.json
Due: prettier --write

feat(git): set `main` as initial branch
  src/generators/app/TsNodeStarterApp.ts
Due: tslint --fix

Notes added by 'git notes add'
  784862db191b6a5dd19fbc47dd09c2bc82a8b418
Due: none

chore(deps): update dev dependencies
  biome.json
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

chore(lint): update biome configuration to biome@1.6 format
  biome.json
Due: prettier --write

fix(deps): remove `chalk` dependency
  package-lock.json
  package.json
  src/generators/app/TsNodeStarterApp.ts
Due: tslint --fix, prettier --write

fix(deps): remove `lodash-es` dependency
  package-lock.json
  package.json
  src/generators/app/Prompter.ts
  src/generators/app/TsNodeStarterApp.ts
Due: tslint --fix, prettier --write

Notes added by 'git notes add'
  788465ca8ddd9e58f11425f78da77bb8fcef7ccd
Due: none

fix(build): set correct build path
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  690d0d2937e298f33206907d4dc2d4beac6a78eb
Due: none

chore(deps): update dev dependencies
  biome.json
  package-lock.json
  package.json
Due: prettier --write

feat: update `yeoman-generator@7.2.0`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d98fb1a250d779a82bf65d662315d6269879552e
Due: none

chore(tsconfig): set `lib` to `2023`
  tsconfig.json
Due: prettier --write
