Repository leon19/generator-ts-node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write, https://json.schemastore.org/lintstagedrc.schema.json, biome check --apply-unsafe

feat(deps): upgrade `yeoman-generator@7.3.1`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bd0a3b96f33911e46b9dabcdb5eb53862039c9be
Due: none

chore(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): upgrade `yeoman-generator@7.3.2`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  64392150cc8850bf400c3b062604e367c32a36e4
Due: none

chore(deps): upgrade `mocha@10.6.0`
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dev dependencies
  package-lock.json
  package.json
  tests/generator.test.ts
Due: prettier --write, biome check --apply-unsafe

feat(lint)!: enfore `kebab-base` file naming
  biome.json
  src/generators/app/index.ts
  src/generators/app/prompter.ts
  src/generators/app/ts-node-starter-app.ts
Due: tslint --fix, prettier --write, biome check --apply-unsafe

chore: update `node` and `npm` pinned versions
  package.json
Due: prettier --write

chore: update license year
  LICENSE
Due: none

chore(ci): update node versions matrix
  .github/workflows/test.yml
Due: none

chore: use empty string as default prompt values to address typing issues with yeoman
  src/generators/app/prompter.ts
Due: tslint --fix, biome check --apply-unsafe

chore: replace `volta` config with `.nvmrc`
  .node-version
  .nvmrc
  package.json
Due: prettier --write

chore(test): replace `mocha` with native `node:test`
  .mocharc.json
  .test.env
  .vscode/settings.json
  package-lock.json
  package.json
  tests/generator.test.ts
  tsconfig.json
Due: prettier --write, biome check --apply-unsafe

fix: update to `yeoman-generator@7.3.3`
  package-lock.json
  package.json
Due: prettier --write

chore(lint): replace `useShorthandArrayType` with `useConsistentArrayType`
  biome.json
Due: prettier --write

Notes added by 'git notes add'
  095a67a09d647a40912d0744738930711b002853
Due: none

chore(deps): update faker to 9.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): upgrade `yeoman-generator@7.4.0`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d39eae4ebf27e999d368298c4769de52d7dbf94a
Due: none

feat(deps): bump `yeoman-generator` to `7.5.1`
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  97f60752f91b64fe4cacd306855479d31a234fbc
Due: none

chore(deps): update dev dependencies
  .lintstagedrc.json
  biome.json
  package-lock.json
  package.json
  src/generators/app/index.ts
  src/generators/app/ts-node-starter-app.ts
  tests/generator.test.ts
  tsconfig.json
Due: tslint --fix, prettier --write, biome check --apply-unsafe

chore(deps): update dev dependencies
  .env.test
  .test.env
  package-lock.json
  package.json
  tests/generator.test.ts
  tsconfig.json
Due: prettier --write, biome check --apply-unsafe

chore(deps): update dev dependencies
  .node-version
  package-lock.json
  package.json
Due: prettier --write

feat!: drop support for node 20
  .env.test
  .github/workflows/release.yml
  .github/workflows/test.yml
  .node-version
  LICENSE
  package-lock.json
  package.json
  src/generators/app/prompter.ts
  tsconfig.json
Due: tslint --fix, prettier --write, biome check --apply-unsafe

Notes added by 'git notes add'
  f35001b29851ede10fef682d4d803e60fa842a01
Due: none

Path conditions:
  tslint --fix: any of: {src,test}/**/*.{js,ts}
  prettier --write: (any of: *.{md,json}) or (any of: *.md)
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  biome check --apply-unsafe: any of: {src,tests}/**/*.{ts,json}
